<div class="container" style="padding-top: 25px; padding-left:50px ;">
  <table class="table table-stripped table-bordered">
    <thead>
        <tr>
            <th>Price</th>
            <th>Validity</th>
            <th>Description</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let p of prepaidplans">
            <td>Rs.{{p.price}}</td>
            <td>{{p.validity}} Days</td>
            <td>{{p.description}}</td>

            <td> 
                <a [routerLink]="['/plans/prepaidplans/chosen',p.id,'view']" class="btn btn-info">Click To Buy</a>
            </td>
        </tr>
    </tbody>
</table>

