<div class="container" style="padding-top: 25px; padding-left:50px ;">
    
    <div class="card w-90 border-primary mb-3" >
        <h5 class="card-header">RS:2999</h5>
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bolder;">Validity: 365 days</h5>
          <p class="card-text">Disney+Hotstor Mobile Annual Subscription Data : 2.5GB/day Voice : Unlimited Calls SMS : 100 SMS/day Validity 365 Days Complimentary subscription to voizfonica Apps.</p>      
          <a  class="btn btn-danger" routerLink="/plans/prepaidplans/chosen">Recharge now</a>
        </div>
      </div>
      <br>
    
      <div class="card w-90 border-primary mb-3">
        <h5 class="card-header">RS: 1299</h5>
        <div class="card-body">
          <h5 class="card-title">Validity: 185 days</h5>
          <p class="card-text">Subscription Data : 2.0GB/day Voice : Unlimited Calls SMS : 100 SMS/day Validity 185 Days Complimentary subscription to voizfonica Apps.</p>
          <a  class="btn btn-danger" routerLink="/plans/prepaidplans/chosen">Recharge now</a>
        </div>
      </div>
      <br>
    
      <div class="card w-90 border-primary mb-3">
        <h5 class="card-header">RS: 799</h5>
        <div class="card-body">
          <h5 class="card-title">Validity: 85 days</h5>
          <p class="card-text">Subscription Data : 2.0GB/day Voice : Unlimited Calls SMS : 100 SMS/day Validity 85 Days Complimentary subscription to voizfonica Apps.</p>
          <a  class="btn btn-danger" routerLink="/plans/prepaidplans/chosen">Recharge now</a>
        </div>
      </div>
      <br>
    
      <div class="card w-90 border-primary mb-3">
        <h5 class="card-header">RS: 249</h5>
        <div class="card-body">
          <h5 class="card-title">Validity: 28 days</h5>
          <p class="card-text">Subscription Data : 2.0GB/day Voice : Unlimited Calls SMS : 100 SMS/day Validity 28 Days Complimentary subscription to voizfonica Apps.</p>
          <a  class="btn btn-danger" routerLink="/plans/prepaidplans/chosen">Recharge now</a>
        </div>
      </div>
      <br>
    
      <div class="card w-90 border-primary mb-3">
        <h5 class="card-header">RS: 199</h5>
        <div class="card-body">
          <h5 class="card-title">Validity: 28 days</h5>
          <p class="card-text">Subscription Data : 1.0GB/day Voice : Unlimited Calls SMS : 100 SMS/day Validity 28 Days Complimentary subscription to voizfonica Apps.</p>
          <a  class="btn btn-danger" routerLink="/plans/prepaidplans/chosen">Recharge now</a>
        </div>
      </div>
      <br>
    
    </div>