<h3 class="font-size mb-2; btn-warning" style="font-weight: bolder;color:red;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-stretch: extra-condensed; text-align: center; font-size: xx-large;" > SERVICES  </h3>  
<div class="card-group">
  <div class="card">
    <img src="../../../../assets/images/prepaidlogo.jpg" class="card-img-top" alt="..." height="vh-100" width="25px">    
  </div>
  
  <div class="card">
    <img src="../../../../assets/images/donglelogos2.jpg" class="card-img-top" alt="..." height="vh-20" >    
  </div>

  <div class="card">
    <img src="../../../../assets/images/postpaid logo.jpg" class="card-img-top" alt="..." height="vh-100" width="25px">    
  </div>
</div>                    