
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 w-50">
        
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-1 mt-md-4 pb-2">
               <h2 class="fw-bold mb-1 text-uppercase">Sign Up</h2>
                <p class="text-white-50 mb-3">Welcome To VoizFonica</p>
                <form form [formGroup]="form" (ngSubmit)="signup()" >

                  <div class="row">
                <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="firstname">Firstname</label>
                    <input input formControlName="firstname" type="text" id="firstname" class="form-control form-control-lg"  />
                    <div *ngIf="f['firstname'].touched && f['firstname'].invalid" style="color: red;">
                      <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">Firstname is required.</div>
                  </div>
            
                   
                  </div>
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="lastname">Lastname</label>
                    <input input formControlName="lastname" type="text" id="lastname" class="form-control form-control-lg" />
                    <div *ngIf="f['lastname'].touched && f['lastname'].invalid"  style="color: red;">
                      <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Lastname is required.</div>
                  </div>
                    
                  </div>

                </div>
                <div class="row">
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="email">Email</label>
                    <input input formControlName="email" type="email" id="email" class="form-control form-control-lg"  />
                    <div *ngIf="f['email'].touched && f['email'].invalid"  style="color: red;">
                      <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                  </div> 
                   
                  </div>
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="phone">Phone Number</label>
                    <input input formControlName="phno" type="number" id="phone" class="form-control form-control-lg" />
                    <div *ngIf="f['phno'].touched && f['phno'].invalid"  style="color: red;" >
                      <div *ngIf="f['phno'].errors && f['phno'].errors['required']">Phone Number is required.</div>
                  </div>
                    
                  </div>

                </div>

                <div class="row">
                
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="password">Enter Password</label>
                    <input input formControlName="password" type="password" id="password" class="form-control form-control-lg" />
                    <div *ngIf="f['password'].touched && f['password'].invalid"   style="color: red;">
                      <div *ngIf="f['password'].errors && f['password'].errors['required']">Password is required.</div>
                  </div>
                    
                  </div>
                  <div class="form-outline form-white mb-4 col">
                    <label class="form-label" for="confirmpassword">Confirm Password</label>
                    <input input formControlName="cpassword" type="password" id="confirmpassword" class="form-control form-control-lg" />
                    <div *ngIf="f['cpassword'].touched && f['cpassword'].invalid"  style="color: red;" >
                      <div *ngIf="f['cpassword'].errors && f['cpassword'].errors['required']">Confirm password is required.</div>

                  </div>
                    
                  </div>
                </div>
                  <!-- <button class="btn btn-outline-dark btn-lg px-5" type="submit">Sign Up</button> -->
                  <input type="submit" class="btn btn-primary btn-lg px-5 mt-3" value="Sign Up" [disabled]="!form.valid">
                </form>
                </div>
                </div> 
                
              </div> 
              
            </div> 
       </div>  

        </div>   
      </section>