
<body style="background-color: peachpuff;height: 90vh;">
    <br><br><br>

<div class="container py-5 h-150" style="padding-top: 85rem;"><br>
    <h3  style="text-align: center;">Plan Details</h3>
    <div class="row d-flex justify-content-center align-items-center h-180">
        
        <div class="col-12 col-md-8 col-lg-6 col-xl-15">
            <div class="card ">
                <div class="card-body p-25 text-center"> 
                    <div>
                    <span style="font-weight:bold;">Price: </span>{{postpaidplans.price}}<br>
                    <span style="font-weight:bold;">Validity: </span>{{postpaidplans.validity}} <br>
                    <span style="font-weight:bold;">Description: </span>{{postpaidplans.description}}

                </div>
                                     
                    <button type="submit" name="submit" class="btn btn-primary mt-3" [routerLink]="['/billdetails',postpaidplans.id]" id="button"  style="font-size: x-large; font-family: 'Times New Roman', Times, serif;font-weight: bolder; "  (click)="Payment()">Proceed To Pay</button><br><br>                            

                    <div class="d-grid gap-2 d-md-flex justify-content-md-left" style="font-size: x-large; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ; font-weight: 500;">                        
                        <button class="btn btn-danger" type="button" style="font-family: 'Times New Roman', Times, serif; text-align: center; font-weight: bolder" routerLink="/plans">Back To Plan</button>                
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>