<div class="container py-5 h-150" style="padding-top: 250rem; padding-left: 10rem; padding-bottom: 100px;"><br>
    <div class="row d-flex justify-content-center align-items-center h-180">
        <div class="col-12 col-md-8 col-lg-6 col-xl-15">
            <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                <div class="card-body p-25 text-center">  
                                     
                    <input type="submit" name="submit" value="Recharge Done" class="btn btn-primary" routerLink="/paymentcompleted" id="button" style="font-size: x-large; font-family: 'Times New Roman', Times, serif;font-weight: bolder;">                          
                </div>
            </div>
        </div>
    </div>
</div>                    