<!-- <div class="container">  -->
  <!-- <div class="container-fluid"> -->
  <div class="card">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/images/img5.jpg" class="d-block w-100" style="height: 41rem; width: 18rem; "
          alt="...">

      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/img7.jpg" class="d-block w-100" style="height: 41rem; width:18rem;" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/img3.jpg" class="d-block w-100" style="height: 41rem; width: 18rem;" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<app-landingservice></app-landingservice>


<!-- footer-->
<div class="footer">
    <div class="col-1">
        <h3> USEFUL LINKS </h3>
        <a routerLink="/contactus/usefullink/aboutus">About Us </a>
        <a routerLink="/contactus/usefullink/services">Services </a>
        <a routerLink="/contactus/usefullink/contactus">Contact Us </a>        
    </div>
    <div class="col-2">
        <h3> NEWS LETTER</h3>
        <div class="form">
            <input type="email" placeholder="Your email address" required><br>
            <button type="submit" style="font-size: large;" > SUBSCRIBE NOW </button><br>
            <br>
            <p> Copyright @ 2022 Vizfonica Telecom Pvt. Ltd. All Rights Reserved </p>
        </div>
    </div>
    <div class="col-3">
        <h3> CONTACT US</h3>
        <P> NO:125, ANNA AVENUE,<br> OMR ROAD, CHENNAI-600024, TN. 
            <a href="/">Email id: voizfonica.admin@yahoo.com </a> 
            <a href="/">Twitter: voizfonica_adminuser2010</a>
            <a href="/">Ph.No: 044-2435261</a> </P>
        <br>
        <a href="/"><p> Privacy Policy</p> </a>
        <a href="/"><p> Terms and Conditions </p></a>

    </div>
</div>

<!-- </div> -->
<!-- </div>-->